<!DOCTYPE html>
<html>
<head>
    <title>SQL to CSV Exporter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Enter SQL Query</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form method="post">
            <textarea name="sql" rows="10" cols="50" placeholder="Enter your SQL query here"></textarea><br><br>
            <input type="submit" value="Execute and Export">
        </form>
    </div>
</body>
</html> 